**/*.profraw
**/*.pyc
**/__pycache__/**
**/vlz-cache.redb
.cache
.coverage
.mypy_cache
.venv
.venv-*
/coverage
/reports
/target
.tmp-empty-xdg

# RPM build artifacts (created by rpmbuild)
/packaging/rpm/BUILD/
/packaging/rpm/BUILDROOT/
/packaging/rpm/RPMS/
/packaging/rpm/SRPMS/
/packaging/rpm/SOURCES/*.tar.gz
