# SPDX-FileCopyrightText: 2026 Travis Post <post.travis@gmail.com>
#
# SPDX-License-Identifier: GPL-3.0-or-later

extends: default

rules:
  document-start: disable
  comments:
    min-spaces-from-content: 1
  line-length:
    max: 160
    allow-non-breakable-inline-mappings: true
  truthy:
    check-keys: false
